@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;
body .swiper {
    display: none;
}
.swiper{
    width: 100%;
    height: 100%;

    
    &-wrapper{
        padding: var(--block-padding);
        padding-bottom: 20px;
    }
    &-pagination{
        
        & &-bullet{
            height: 12px;
            width: 12px;
            background-color: $color-bullet-active ;
        }
    }
}
@media (max-width: 768px) {
    body .swiper {
        display: flex
}
    

}