$color-primary : rgba(248, 248, 248, 1);
$color-secondary: rgba(255, 255, 255, 1);
$color-accent: rgba(255, 62, 121, 1);
$color-text-primary: rgba(27, 28, 33, 1);
$color-text-secondary: rgba(126, 126, 130, 1);
$color-placeholder: rgba(181, 182, 188, 1);
$color-border: rgba(234, 234, 234, 1);
$color-decor: rgba(65, 246, 215, 1);
$color-header-decor: rgba(217, 255, 245, 1) ;
$color-swiper-bullet:rgba(221, 221, 221, 1);
$color-bullet-active: rgba(181, 182, 188, 1);
$color-border-active: rgba(184, 255, 236, 1);
$gradient: linear-gradient(270deg, #FFFFFF 0, #F8F8F8 100%);
$modal-shadow: 16px 0px 52px 0px #0E185033, -2px 0px 4px 0px #454F7E05;

:root {
  --block-padding: 0 16px; 
  --column-gap: 24px;
  --row-gap: 16px;

  @media (min-width: 768px) {
    --block-padding: 0 24px; 
    --column-gap: 32px;
    --row-gap: 24px;
 
  }

  @media (min-width: 1366px) {
    --block-padding: 0 32px; 
    --column-gap: 50px;
    --row-gap: 32px;

  }
}